<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <!-- The content will be generated during build -->
  <Section Name="StorageManagerProcessorActorSection">
    <Parameter Name="ConnectionString" Value="" MustOverride="true" />
    <Parameter Name="DeadLetterQueueStoredProcedureName" Value="InsertDeadLetterQueue" />
    <Parameter Name="DelayBeforeRetryInMilliseconds" Value="10000" />
  </Section>
  <Section Name="StorageManagerProcessorActorReplicatorConfig">
    <Parameter Name="ReplicatorEndpoint" Value="StorageManagerProcessorActorReplicatorEndpoint" />
    <Parameter Name="BatchAcknowledgementInterval" Value="0.005" />
  </Section>
  <Section Name="StorageManagerProcessorActorReplicatorSecurityConfig">
    <Parameter Name="CredentialType" Value="None" />
  </Section>
  <Section Name="StorageManagerActorReplicatorConfig">
    <Parameter Name="ReplicatorEndpoint" Value="StorageManagerActorReplicatorEndpoint" />
    <Parameter Name="BatchAcknowledgementInterval" Value="0.005" />
  </Section>
  <Section Name="StorageManagerActorReplicatorSecurityConfig">
    <Parameter Name="CredentialType" Value="None" />
  </Section>
</Settings>